@tailwind base;
@tailwind components;
@tailwind utilities;

.is-transitioned>* {
    animation: fade-in 0.5s forwards;
    background-color: rgba(#000, 0.25);
    opacity: 0;
    transform: translateY(5vh);
}

.gradbg {
    @apply rounded-md;
    @apply p-0.5;
    @apply bg-gradient-to-br;
    @apply from-orange-900;
    @apply to-amber-300;
}

a {
    @apply hover:text-amber-200;
    @apply transition;
    @apply duration-200;
}

h1 {
    @apply font-bold;
    @apply text-3xl;
    @apply h-12;
}

h2 {
    @apply font-semibold;
    @apply text-2xl;
}

h3 {
    @apply font-bold;
    @apply text-lg;
}

@keyframes fade-in {
    from {
        background-color: rgba(#000, 0.25);
        opacity: 0;
        transform: translateY(5vh);
    }

    to {
        background-color: rgba(#000, 0);
        opacity: 1;
        transform: translateY(0);
    }
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #1c1917;
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #fcd34d;
    border: 3px solid #1c1917;
}